@import'./variables';


/* GALERIA DE FOTOS */

#galeria{

  .titles {
    margin-bottom: 0.9rem;
  }

  .layout-galeria {
    display: flex;
    flex-wrap: wrap;
  }

  .layout-galeria img {
    width: 100%;
  }
}

@media screen and (min-width: 850px) {

  #galeria{
    .layout-galeria img {
      width: 33.3%;
      height: 50%;
    }

    .titles{
      margin: 0 0 2.25rem 12.5rem;
    }
  }
}