@import './variables';

nav {
  position: fixed;
  background-color: white;
  z-index: 1;
  width:100%;
  top:0;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}  

@media screen and (max-width: 850px) {

  nav{
    .hamburguer-icon {
      position: relative;
      user-select: none;
      cursor: pointer;
      margin: 0.625rem 1rem 0rem 0rem;
  
      span {
        width: 1.7rem;
        height: 0.2rem;
        position: relative;
        display: block;
        margin-top: 0.18rem;
        background-color: black;
        border-radius: 3px;
        transition: transform $duracion-estandar ease-out;
      }
    }
    
    #input-menu {
      display: none; /*DESAPARECER INPUT, SOLO USAREMOS SU FUNCION CHECKED*/
       
      /*ANIMACION BOTON DE HAMBURGUESA SE CONVIERTE EN  X*/
      &:checked ~ .hamburguer-icon span {
        opacity: 1;
        transform: rotate(45deg) translate(-3px, -1px);
      }
    
      &:checked ~ .hamburguer-icon span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }
    
      &:checked ~ .hamburguer-icon span:nth-last-child(2) {
        opacity: 1;
        transform: rotate(-45deg) translate(-3px, 1px);
      }
  
      /*Cambiar altura a 40vh y poder visualizar  las opciones
      del menu */
  
      &:checked ~ .items-nav {
        height: 40vh;
      }
    
      &:checked ~ .items-nav li a {
        opacity: 1;
      }
          
    }

    a{
      img {
        width: 1.5rem;
        height: 1.5rem;
        margin: 0.625rem 0 0.625rem 1rem;
      }
    }
  
    .items-nav {
      list-style: none;
      padding-left: 1rem;
      width: 100%;
      height: 0vh; /* PROPIEDAD MODIFICADA AL PRESIONAR EL CHECKBOX */
      overflow: hidden; /* PERMITE QUE SE ESCONDA DADO QUE LA ALTURA ES 0 */
      background: $background-color;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: left;
      transition-delay: $duracion-estandar;
      transition: height $duracion-estandar ease-out;
      
      li a {
        color: whitesmoke;
        opacity: 0;
        transition: opacity 0.5s ease-out;
        text-decoration: none;
  
          &:hover{
            border-bottom: white solid 2px;
          }
      }  
    }
  }
}

/*Navbar pantallas mayores a 850PX , medianas-grandes y grandes*/

@media screen and (min-width: 850px) {
  nav {   
    padding: 	1.375rem 6.25rem 0 6.25rem;
  
    .hamburguer-icon span {
      display: none; /*ESCONDER MENU HAMBURGUESA*/
    }

    #input-menu {
      display: none;
    }

    a{
        img {
        width: 2.25rem;
        height: 2.25rem;
        margin: 0 0 0.625rem 1rem;      
      }
    }


    .items-nav {
      padding-top: 0.25rem;
     


      li {
        display: inline-flex;
        margin-left: 3rem;

        a{
          color: $black;
          text-decoration: none;
         }
      } 
    }
  }
}