$font-style-sans: 'IBM Plex Sans', sans-serif;
$font-style-mono: 'IBM Plex Mono', monospace;
$black: #060A24;
$white: #FFFFFF;
$blue: #0000EC;
$background-color: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
$background-hover-color: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
$button-color: #00F3BB 100%;
$duracion-estandar: 1s;
$mobile-titles-size: 2.25rem;
$mobile-article-size: 0.9rem;
$desktop-titles-size: 3rem;
$mobile-button-width: 18rem;
$mobile-button-height: 3rem;
$desktop-button-width: 14.125rem;
$desktop-button-height: 3.5rem;
$mobile-iframe-width: 18.625rem;
$mobile-iframe-height: 14.500rem;
$desktop-iframe-width: 45%;
$desktop-iframe-height: 45%;
$mobile-phone-width: 18.75rem;
$mobile-phone-height: 28.6rem;
$desktop-phone-width: 24.75rem;
$desktop-phone-height: 41.25rem;

$media-desktop: 850px;
